
############################################
#  Chamber LED
###########################################

  
#################################################
################### Disco Led ###################
#################################################
[neopixel skirt1]
pin: PD15
chain_count: 10
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[led_effect set_skirt]
autostart:              true
frame_rate:             15
leds:
    neopixel:skirt1
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

##########################
# LED Effects Animations #
##########################

##################
## disco effects ##
##################